<div id="status_div">

  <div class='row-fluid'>
  	<%= @status_info %>
  	<% # Rails.logger.debug "view txn_status="+@txn_status %>
  </div>

  <div class='row-fluid'>&nbsp;</div>
  <div class='row-fluid'>
  	<% if @complete == true %>
    	<%= link_to "Take a new payment", payments_path, { class: 'btn btn-link'} %>
    <% end %>
  </div>

	<script type="text/javascript">
  	txn_status = '<%=@txn_status%>';

    if($('#ref_info').val().length == 0){
      $('#ref_info').val('<%=@ref_info%>');
    };
	</script>
</div>

